In [2]:
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import re
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import csv
import math
import seaborn as sns

In [3]:
df = pd.read_csv("cancelled_flights.csv")
df.head()

C:\Users\HP\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (4,15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ActualElapsedTime,CRSArrTime,CRSDepTime,CRSElapsedTime,CancellationCode,Cancelled,CarrierDelay,Dest,Distance,Diverted,FlightNum,LateAircraftDelay,NASDelay,Origin,SecurityDelay,TailNum,UniqueCarrier,WeatherDelay,Year,Date
0,NaN,835,740,115.0,NaN,1,NaN,MSP,627.0,0,681,NaN,NaN,CMH,NaN,NaN,NW,NaN,1987,1987-10-01
1,NaN,2115,2000,75.0,NaN,1,NaN,LAX,337.0,0,2128,NaN,NaN,SFO,NaN,NaN,AA,NaN,1987,1987-10-01
2,NaN,1450,1340,70.0,NaN,1,NaN,OAK,325.0,0,715,NaN,NaN,BUR,NaN,NaN,AS,NaN,1987,1987-10-01
3,NaN,1440,1355,105.0,NaN,1,NaN,MEM,622.0,0,881,NaN,NaN,CLE,NaN,NaN,NW,NaN,1987,1987-10-01
4,NaN,2359,2300,59.0,NaN,1,NaN,LAX,337.0,0,1436,NaN,NaN,SFO,NaN,NaN,PS,NaN,1987,1987-10-01

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184011 entries, 0 to 184010
Data columns (total 20 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ActualElapsedTime  0 non-null       float64
 1   CRSArrTime         184011 non-null  int64
 2   CRSDepTime         184011 non-null  int64
 3   CRSElapsedTime     182182 non-null  float64
 4   CancellationCode   58603 non-null   object
 5   Cancelled          184011 non-null  int64
 6   CarrierDelay       47644 non-null   float64
 7   Dest               184011 non-null  object
 8   Distance           183849 non-null  float64
 9   Diverted           184011 non-null  int64
 10  FlightNum          184011 non-null  int64
 11  LateAircraftDelay  47644 non-null   float64
 12  NASDelay           47644 non-null   float64
 13  Origin             184011 non-null  object
 14  SecurityDelay      47644 non-null   float64
 15  TailNum            139289 non-null  object
 16  UniqueCarrier      184011 non-null  object
 17  WeatherDelay       47644 non-null   float64
 18  Year               184011 non-null  int64
 19  Date               184011 non-null  object
dtypes: float64(8), int64(6), object(6)
memory usage: 28.1+ MB

In [5]:
df2 = pd.read_csv("delays_clean.csv")
df2.head()

,year,month,carrier,carrier_name,airport,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,...,perdelay,percancelled,perdiverted,per_car_delay,per_wea_delay,per_nas_delay,per_sec_delay,per_late_delay,latitude,longitude
0,2011,12,DL,Delta Air Lines Inc.,STL,396.0,34.0,13.90,0.68,6.53,...,0.085859,0.0,0.000000,0.415476,0.01131,0.121429,0.0,0.451786,38.748697,-90.370003
1,2011,12,DL,Delta Air Lines Inc.,STT,42.0,4.0,3.09,0.00,0.91,...,0.095238,0.0,0.000000,0.806452,0.00000,0.193548,0.0,0.000000,18.335700,-64.970700
2,2011,12,DL,Delta Air Lines Inc.,STX,3.0,0.0,0.00,0.00,0.00,...,0.000000,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,17.699500,-64.797500
3,2011,12,DL,Delta Air Lines Inc.,SYR,55.0,5.0,2.50,0.00,1.50,...,0.090909,0.0,0.018182,0.544218,0.00000,0.238095,0.0,0.217687,43.111198,-76.106300
4,2011,12,DL,Delta Air Lines Inc.,TLH,31.0,5.0,1.25,0.00,1.00,...,0.161290,0.0,0.000000,0.277108,0.00000,0.117470,0.0,0.605422,30.396500,-84.350304

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157906 entries, 0 to 157905
Data columns (total 35 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   year                 157906 non-null  int64
 1   month                157906 non-null  int64
 2   carrier              157906 non-null  object
 3   carrier_name         157906 non-null  object
 4   airport              157906 non-null  object
 5   arr_flights          157906 non-null  float64
 6   arr_del15            157906 non-null  float64
 7   carrier_ct           157906 non-null  float64
 8   weather_ct           157906 non-null  float64
 9   nas_ct               157906 non-null  float64
 10  security_ct          157906 non-null  float64
 11  late_aircraft_ct     157906 non-null  float64
 12  arr_cancelled        157906 non-null  float64
 13  arr_diverted         157906 non-null  float64
 14  min_delay            157906 non-null  float64
 15  carrier_delay        157906 non-null  float64
 16  weather_delay        157906 non-null  float64
 17  nas_delay            157906 non-null  float64
 18  security_delay       157906 non-null  float64
 19  late_aircraft_delay  157906 non-null  float64
 20  arr_ontime           157906 non-null  float64
 21  airport_name         157906 non-null  object
 22  city                 157906 non-null  object
 23  state                157906 non-null  object
 24  perontime            157906 non-null  float64
 25  perdelay             157906 non-null  float64
 26  percancelled         157906 non-null  float64
 27  perdiverted          157906 non-null  float64
 28  per_car_delay        157906 non-null  float64
 29  per_wea_delay        157906 non-null  float64
 30  per_nas_delay        157906 non-null  float64
 31  per_sec_delay        157906 non-null  float64
 32  per_late_delay       157906 non-null  float64
 33  latitude             157906 non-null  float64
 34  longitude            157906 non-null  float64
dtypes: float64(27), int64(2), object(6)
memory usage: 42.2+ MB

## Categorising data

<br>1. Making carrier df
<br>2. Making airport df
<br>3. Combining all df

### 1. Making Carrier df that contains: carrier name, and carrier abbreviation

In [69]:
carrier_df = df2[['carrier_name', 'carrier']].drop_duplicates()
carrier_df.sort_values(by='carrier', inplace=True)
carrier_df.reset_index(drop=True, inplace=True)

In [66]:
carrier_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   carrier_name  21 non-null     object
 1   carrier       21 non-null     object
dtypes: object(2)
memory usage: 464.0+ bytes

In [114]:
carrier_df.to_csv("data/different_carriers.csv", index=False)
carrier_df

                   carrier_name carrier
0             Endeavor Air Inc.      9E
1        American Airlines Inc.      AA
2          Alaska Airlines Inc.      AS
3               JetBlue Airways      B6
4    Continental Air Lines Inc.      CO
5          Delta Air Lines Inc.      DL
6      ExpressJet Airlines Inc.      EV
7        Frontier Airlines Inc.      F9
8   AirTran Airways Corporation      FL
9                 Allegiant Air      G4
10       Hawaiian Airlines Inc.      HA
11                    Envoy Air      MQ
12             Spirit Air Lines      NK
13            PSA Airlines Inc.      OH
14        SkyWest Airlines Inc.      OO
15        United Air Lines Inc.      UA
16              US Airways Inc.      US
17               Virgin America      VX
18       Southwest Airlines Co.      WN
19           Mesa Airlines Inc.      YV
20             Republic Airline      YX

### 2. Making Airport df that contains: airport, airport name, city, state

In [62]:
airport_df = df2[['airport','airport_name','city','state']].drop_duplicates()
airport_df.sort_values(by='state', inplace=True)
airport_df.reset_index(drop=True, inplace=True)

In [58]:
airport_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 387 entries, 1087 to 9519
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   airport       387 non-null    object
 1   airport_name  387 non-null    object
 2   city          387 non-null    object
 3   state         387 non-null    object
dtypes: object(4)
memory usage: 15.1+ KB

In [63]:
airport_df.to_csv("data/airports_in_respective_states.csv", index=False)
airport_df

    airport                          airport_name          city state
0       YAK                       Yakutat Airport       Yakutat    AK
1       GST                      Gustavus Airport      Gustavus    AK
2       AKN                   King Salmon Airport   King Salmon    AK
3       DLG                    Dillingham Airport    Dillingham    AK
4       WRG                      Wrangell Airport      Wrangell    AK
..      ...                                   ...           ...   ...
382     RKS            Southwest Wyoming Regional  Rock Springs    WY
383     COD                  Yellowstone Regional          Cody    WY
384     GCC              Gillette Campbell County      Gillette    WY
385     CPR   Casper/Natrona County International        Casper    WY
386     LAR                      Laramie Regional       Laramie    WY

[387 rows x 4 columns]

In [47]:
airport_df[airport_df['state'] == "VI"]
# airport_df[airport_df['airport'] == 'STL']

Empty DataFrame
Columns: [state, airport, airport_name]
Index: []

In [82]:
airport_df2 = airport_df[['airport', 'airport_name','state']]
airport_df2

    airport                          airport_name state
0       YAK                       Yakutat Airport    AK
1       GST                      Gustavus Airport    AK
2       AKN                   King Salmon Airport    AK
3       DLG                    Dillingham Airport    AK
4       WRG                      Wrangell Airport    AK
..      ...                                   ...   ...
382     RKS            Southwest Wyoming Regional    WY
383     COD                  Yellowstone Regional    WY
384     GCC              Gillette Campbell County    WY
385     CPR   Casper/Natrona County International    WY
386     LAR                      Laramie Regional    WY

[387 rows x 3 columns]

In [88]:
df3 = df.copy()

### 3. Creating new dataframes

In [105]:
# Merge DataFrame A with DataFrame B for origin airport and rearrange columns
merged_origin = pd.merge(df3, airport_df2, left_on='Origin', right_on='airport', how='left')
merged_origin.drop(columns=['airport', 'Cancelled'], inplace = True)
merged_origin.rename(columns={'airport_name': 'OriginAirportName', 'state': 'OriginState'}, inplace=True)
desired_order = ['ActualElapsedTime',
 'CRSArrTime',
 'CRSDepTime',
 'CRSElapsedTime',
 'CancellationCode',
 'Distance',
 'Diverted',
 'FlightNum',
 'TailNum',
 'CarrierDelay',
 'LateAircraftDelay',
 'NASDelay',
 'WeatherDelay',
 'SecurityDelay',
 'Origin',
 'OriginAirportName',
 'OriginState',
 'Dest',
 'UniqueCarrier',
 'Year',
 'Date' ]
merged_origin = merged_origin[desired_order]
merged_origin

,ActualElapsedTime,CRSArrTime,CRSDepTime,CRSElapsedTime,CancellationCode,Distance,Diverted,FlightNum,TailNum,CarrierDelay,...,NASDelay,WeatherDelay,SecurityDelay,Origin,OriginAirportName,OriginState,Dest,UniqueCarrier,Year,Date
0,NaN,835,740,115.0,NaN,627.0,0,681,NaN,NaN,...,NaN,NaN,NaN,CMH,John Glenn Columbus International,OH,MSP,NW,1987,1987-10-01
1,NaN,2115,2000,75.0,NaN,337.0,0,2128,NaN,NaN,...,NaN,NaN,NaN,SFO,San Francisco International,CA,LAX,AA,1987,1987-10-01
2,NaN,1450,1340,70.0,NaN,325.0,0,715,NaN,NaN,...,NaN,NaN,NaN,BUR,Bob Hope,CA,OAK,AS,1987,1987-10-01
3,NaN,1440,1355,105.0,NaN,622.0,0,881,NaN,NaN,...,NaN,NaN,NaN,CLE,Cleveland-Hopkins International,OH,MEM,NW,1987,1987-10-01
4,NaN,2359,2300,59.0,NaN,337.0,0,1436,NaN,NaN,...,NaN,NaN,NaN,SFO,San Francisco International,CA,LAX,PS,1987,1987-10-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184006,NaN,2100,1935,85.0,B,404.0,0,1963,N207WN,NaN,...,NaN,NaN,NaN,SMF,Sacramento International,CA,SNA,WN,2008,2008-12-31
184007,NaN,758,636,82.0,B,258.0,0,5706,N578SW,NaN,...,NaN,NaN,NaN,FAT,Fresno Yosemite International,CA,LAS,OO,2008,2008-12-31
184008,NaN,1350,801,229.0,B,1754.0,0,744,NaN,NaN,...,NaN,NaN,NaN,DEN,Denver International,CO,BOS,UA,2008,2008-12-31
184009,NaN,1340,1220,80.0,B,238.0,0,1511,N768SW,NaN,...,NaN,NaN,NaN,PVD,Theodore Francis Green State,RI,PHL,WN,2008,2008-12-31
184010,NaN,1206,950,136.0,B,737.0,0,1784,NaN,NaN,...,NaN,NaN,NaN,CLT,Charlotte Douglas International,NC,MHT,US,2008,2008-12-31

In [109]:
# Merge DataFrame A with DataFrame B for destination airport and rearrange columns
merged_dest = pd.merge(merged_origin, airport_df2, left_on='Dest', right_on='airport', how='left')
merged_dest.drop(columns=['airport'], inplace = True)
merged_dest.rename(columns={'airport_name': 'DestAirportName', 'state': 'DestState'}, inplace=True)
desired_order = ['ActualElapsedTime',
 'CRSArrTime',
 'CRSDepTime',
 'CRSElapsedTime',
 'CancellationCode',
 'Distance',
 'Diverted',
 'FlightNum',
 'TailNum',
 'CarrierDelay',
 'LateAircraftDelay',
 'NASDelay',
 'WeatherDelay',
 'SecurityDelay',
 'Origin',
 'OriginAirportName',
 'OriginState',
 'Dest',
 'DestAirportName',
 'DestState',
 'UniqueCarrier',
 'Year',
 'Date']
merged_dest = merged_dest[desired_order]
merged_dest

,ActualElapsedTime,CRSArrTime,CRSDepTime,CRSElapsedTime,CancellationCode,Distance,Diverted,FlightNum,TailNum,CarrierDelay,...,SecurityDelay,Origin,OriginAirportName,OriginState,Dest,DestAirportName,DestState,UniqueCarrier,Year,Date
0,NaN,835,740,115.0,NaN,627.0,0,681,NaN,NaN,...,NaN,CMH,John Glenn Columbus International,OH,MSP,Minneapolis-St Paul International,MN,NW,1987,1987-10-01
1,NaN,2115,2000,75.0,NaN,337.0,0,2128,NaN,NaN,...,NaN,SFO,San Francisco International,CA,LAX,Los Angeles International,CA,AA,1987,1987-10-01
2,NaN,1450,1340,70.0,NaN,325.0,0,715,NaN,NaN,...,NaN,BUR,Bob Hope,CA,OAK,Metropolitan Oakland International,CA,AS,1987,1987-10-01
3,NaN,1440,1355,105.0,NaN,622.0,0,881,NaN,NaN,...,NaN,CLE,Cleveland-Hopkins International,OH,MEM,Memphis International,TN,NW,1987,1987-10-01
4,NaN,2359,2300,59.0,NaN,337.0,0,1436,NaN,NaN,...,NaN,SFO,San Francisco International,CA,LAX,Los Angeles International,CA,PS,1987,1987-10-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184006,NaN,2100,1935,85.0,B,404.0,0,1963,N207WN,NaN,...,NaN,SMF,Sacramento International,CA,SNA,John Wayne Airport-Orange County,CA,WN,2008,2008-12-31
184007,NaN,758,636,82.0,B,258.0,0,5706,N578SW,NaN,...,NaN,FAT,Fresno Yosemite International,CA,LAS,McCarran International,NV,OO,2008,2008-12-31
184008,NaN,1350,801,229.0,B,1754.0,0,744,NaN,NaN,...,NaN,DEN,Denver International,CO,BOS,Logan International,MA,UA,2008,2008-12-31
184009,NaN,1340,1220,80.0,B,238.0,0,1511,N768SW,NaN,...,NaN,PVD,Theodore Francis Green State,RI,PHL,Philadelphia International,PA,WN,2008,2008-12-31
184010,NaN,1206,950,136.0,B,737.0,0,1784,NaN,NaN,...,NaN,CLT,Charlotte Douglas International,NC,MHT,Manchester-Boston Regional,NH,US,2008,2008-12-31

In [112]:
merged_carrier = pd.merge(merged_dest, carrier_df, left_on='UniqueCarrier', right_on='carrier', how='left')
merged_carrier .drop(columns=['carrier'], inplace = True)
merged_carrier .rename(columns={'carrier_name': 'CarrierName'}, inplace=True)
desired_order = ['ActualElapsedTime',
 'CRSArrTime',
 'CRSDepTime',
 'CRSElapsedTime',
 'CancellationCode',
 'Distance',
 'Diverted',
 'FlightNum',
 'TailNum',
 'CarrierDelay',
 'LateAircraftDelay',
 'NASDelay',
 'WeatherDelay',
 'SecurityDelay',
 'Origin',
 'OriginAirportName',
 'OriginState',
 'Dest',
 'DestAirportName',
 'DestState',
 'UniqueCarrier',
 'CarrierName',
 'Year',
 'Date']
merged_carrier = merged_carrier[desired_order]
merged_carrier

,ActualElapsedTime,CRSArrTime,CRSDepTime,CRSElapsedTime,CancellationCode,Distance,Diverted,FlightNum,TailNum,CarrierDelay,...,Origin,OriginAirportName,OriginState,Dest,DestAirportName,DestState,UniqueCarrier,CarrierName,Year,Date
0,NaN,835,740,115.0,NaN,627.0,0,681,NaN,NaN,...,CMH,John Glenn Columbus International,OH,MSP,Minneapolis-St Paul International,MN,NW,NaN,1987,1987-10-01
1,NaN,2115,2000,75.0,NaN,337.0,0,2128,NaN,NaN,...,SFO,San Francisco International,CA,LAX,Los Angeles International,CA,AA,American Airlines Inc.,1987,1987-10-01
2,NaN,1450,1340,70.0,NaN,325.0,0,715,NaN,NaN,...,BUR,Bob Hope,CA,OAK,Metropolitan Oakland International,CA,AS,Alaska Airlines Inc.,1987,1987-10-01
3,NaN,1440,1355,105.0,NaN,622.0,0,881,NaN,NaN,...,CLE,Cleveland-Hopkins International,OH,MEM,Memphis International,TN,NW,NaN,1987,1987-10-01
4,NaN,2359,2300,59.0,NaN,337.0,0,1436,NaN,NaN,...,SFO,San Francisco International,CA,LAX,Los Angeles International,CA,PS,NaN,1987,1987-10-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184006,NaN,2100,1935,85.0,B,404.0,0,1963,N207WN,NaN,...,SMF,Sacramento International,CA,SNA,John Wayne Airport-Orange County,CA,WN,Southwest Airlines Co.,2008,2008-12-31
184007,NaN,758,636,82.0,B,258.0,0,5706,N578SW,NaN,...,FAT,Fresno Yosemite International,CA,LAS,McCarran International,NV,OO,SkyWest Airlines Inc.,2008,2008-12-31
184008,NaN,1350,801,229.0,B,1754.0,0,744,NaN,NaN,...,DEN,Denver International,CO,BOS,Logan International,MA,UA,United Air Lines Inc.,2008,2008-12-31
184009,NaN,1340,1220,80.0,B,238.0,0,1511,N768SW,NaN,...,PVD,Theodore Francis Green State,RI,PHL,Philadelphia International,PA,WN,Southwest Airlines Co.,2008,2008-12-31
184010,NaN,1206,950,136.0,B,737.0,0,1784,NaN,NaN,...,CLT,Charlotte Douglas International,NC,MHT,Manchester-Boston Regional,NH,US,US Airways Inc.,2008,2008-12-31

In [5]:
## newly added as of 28 Feb to standardize format
## should not have AirTime, ArrDelay, ArrTime, DepDelay, DepTime, TaxiIn, TaxiOut,
merged_carrier = pd.read_csv("data/categorised_cancelled_flights_incomplete.csv")
desired_order = ['ActualElapsedTime',
 'CRSArrTime',
 'CRSDepTime',
 'CRSElapsedTime',
 'CancellationCode',
 'CarrierDelay',
 'LateAircraftDelay',
 'SecurityDelay',
 'WeatherDelay',
 'NASDelay',
 'Distance',
 'Diverted',
 'Origin',
 'OriginAirportName',
 'OriginState',
 'Dest',
 'DestAirportName',
 'DestState',
 'TailNum',
 'UniqueCarrier',
 'CarrierName',   
 'FlightNum',
 'Date',
]
merged_carrier = merged_carrier[desired_order]
merged_carrier

,ActualElapsedTime,CRSArrTime,CRSDepTime,CRSElapsedTime,CancellationCode,CarrierDelay,LateAircraftDelay,SecurityDelay,WeatherDelay,NASDelay,...,OriginAirportName,OriginState,Dest,DestAirportName,DestState,TailNum,UniqueCarrier,CarrierName,FlightNum,Date
0,NaN,835,740,115.0,NaN,NaN,NaN,NaN,NaN,NaN,...,John Glenn Columbus International,OH,MSP,Minneapolis-St Paul International,MN,NaN,NW,NaN,681,1987-10-01
1,NaN,2115,2000,75.0,NaN,NaN,NaN,NaN,NaN,NaN,...,San Francisco International,CA,LAX,Los Angeles International,CA,NaN,AA,American Airlines Inc.,2128,1987-10-01
2,NaN,1450,1340,70.0,NaN,NaN,NaN,NaN,NaN,NaN,...,Bob Hope,CA,OAK,Metropolitan Oakland International,CA,NaN,AS,Alaska Airlines Inc.,715,1987-10-01
3,NaN,1440,1355,105.0,NaN,NaN,NaN,NaN,NaN,NaN,...,Cleveland-Hopkins International,OH,MEM,Memphis International,TN,NaN,NW,NaN,881,1987-10-01
4,NaN,2359,2300,59.0,NaN,NaN,NaN,NaN,NaN,NaN,...,San Francisco International,CA,LAX,Los Angeles International,CA,NaN,PS,NaN,1436,1987-10-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184006,NaN,2100,1935,85.0,B,NaN,NaN,NaN,NaN,NaN,...,Sacramento International,CA,SNA,John Wayne Airport-Orange County,CA,N207WN,WN,Southwest Airlines Co.,1963,2008-12-31
184007,NaN,758,636,82.0,B,NaN,NaN,NaN,NaN,NaN,...,Fresno Yosemite International,CA,LAS,McCarran International,NV,N578SW,OO,SkyWest Airlines Inc.,5706,2008-12-31
184008,NaN,1350,801,229.0,B,NaN,NaN,NaN,NaN,NaN,...,Denver International,CO,BOS,Logan International,MA,NaN,UA,United Air Lines Inc.,744,2008-12-31
184009,NaN,1340,1220,80.0,B,NaN,NaN,NaN,NaN,NaN,...,Theodore Francis Green State,RI,PHL,Philadelphia International,PA,N768SW,WN,Southwest Airlines Co.,1511,2008-12-31
184010,NaN,1206,950,136.0,B,NaN,NaN,NaN,NaN,NaN,...,Charlotte Douglas International,NC,MHT,Manchester-Boston Regional,NH,NaN,US,US Airways Inc.,1784,2008-12-31

In [4]:
merged_carrier.columns.tolist()

['ActualElapsedTime',
 'CRSArrTime',
 'CRSDepTime',
 'CRSElapsedTime',
 'CancellationCode',
 'Distance',
 'Diverted',
 'FlightNum',
 'TailNum',
 'CarrierDelay',
 'LateAircraftDelay',
 'NASDelay',
 'WeatherDelay',
 'SecurityDelay',
 'Origin',
 'OriginAirportName',
 'OriginState',
 'Dest',
 'DestAirportName',
 'DestState',
 'UniqueCarrier',
 'CarrierName',
 'Year',
 'Date']

In [7]:
merged_carrier.to_csv("data/categorised_cancelled_flights_incomplete.csv", index=False)
merged_carrier.shape

## incomplete because missing some airline data

(184011, 23)

In [6]:
merged_carrier.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184011 entries, 0 to 184010
Data columns (total 23 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ActualElapsedTime  0 non-null       float64
 1   CRSArrTime         184011 non-null  int64
 2   CRSDepTime         184011 non-null  int64
 3   CRSElapsedTime     182182 non-null  float64
 4   CancellationCode   58603 non-null   object
 5   CarrierDelay       47644 non-null   float64
 6   LateAircraftDelay  47644 non-null   float64
 7   SecurityDelay      47644 non-null   float64
 8   WeatherDelay       47644 non-null   float64
 9   NASDelay           47644 non-null   float64
 10  Distance           183849 non-null  float64
 11  Diverted           184011 non-null  int64
 12  Origin             184011 non-null  object
 13  OriginAirportName  183600 non-null  object
 14  OriginState        183600 non-null  object
 15  Dest               184011 non-null  object
 16  DestAirportName    183662 non-null  object
 17  DestState          183662 non-null  object
 18  TailNum            139289 non-null  object
 19  UniqueCarrier      184011 non-null  object
 20  CarrierName        147231 non-null  object
 21  FlightNum          184011 non-null  int64
 22  Date               184011 non-null  object
dtypes: float64(8), int64(4), object(11)
memory usage: 32.3+ MB